html, body {
    height: 100%;
    background: rgb(117,81,185);
    background: linear-gradient(90deg, rgba(117,81,185,1) 0%, rgb(253, 153, 153) 100%);
}

.hamburger-wrap {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.none{
    display: none;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.padding_top-80 {
    padding-top: 80px;
}

.bg-color-dark-grey{
    background-color: #48484a;
}

.bg-gradient{
    background: rgb(139,69,152);
    background: linear-gradient(0deg, rgba(139,69,152,1) 13%, rgba(26,53,124,1) 69%);
}

.bg-pink{
    background: #C686AF
}

.bg-white-50{
    background: rgba(255,255,255,0.45)
}


select option[selected]{
    background: #C686AF !important;
}

.pointer{
    cursor: pointer;
}

.altezza{
    height: 170px !important;
    width: 302px !important;
}

.mt-60{
    margin-top: 60px !important;
}



