<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
    <!-- Bootstrap CSS + costum css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="eltemps.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>
<div id="eltemps">
    <!-- As a heading-->
    <nav class="navbar navbar-light bg-light fixed-top ">

        <!-- Collapse button-->
        <div :class="['hamburger-wrap', { 'change': toggled }]"  data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" @click="hamburgerMenu()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <h3>{{fechaDia}} {{fechaMes}} {{fechaYear}}</h3>

        <h3>OpenWeather</h3>


        <div class="navbar-collapse collapse navbar-inner " id="navbarToggleExternalContent">
            <ul class="navbar-nav " v-for="continent in continentes">
                <li class="nav-item text-white">
                    <a @click="closeHamburgerMenu()" v-on:click="selectContinent(continent)" class="nav-link h5 pointer">{{continent}}</a>                </li>
            </ul>
        </div>

    </nav>
    <main class="padding_top-80">
        <div v-if="showContinente() === 'europa'">
            <temps-component v-bind:llista-ciutats="europa" v-bind:continent="continentes[1]"></temps-component>
        </div>
        <div v-else-if="showContinente() === 'asia'">
            <temps-component v-bind:llista-ciutats="asia" v-bind:continent="continentes[2]"></temps-component>
        </div>
        <div v-else-if="showContinente() === 'africa'">
            <temps-component v-bind:llista-ciutats="africa" v-bind:continent="continentes[4]"></temps-component>
        </div>
        <div v-else-if="showContinente() === 'america'">
            <temps-component v-bind:llista-ciutats="america" v-bind:continent="continentes[3]"></temps-component>
        </div>
        <div v-else>
            <temps-component v-bind:llista-ciutats="europa" v-bind:continent="continentes[1]"></temps-component>
            <temps-component v-bind:llista-ciutats="asia" v-bind:continent="continentes[2]"></temps-component>
            <temps-component v-bind:llista-ciutats="america" v-bind:continent="continentes[3]"></temps-component>
            <temps-component v-bind:llista-ciutats="africa" v-bind:continent="continentes[4]"></temps-component>
        </div>
    </main>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="main_plantilla.js"></script>
</body>

</html>